@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.my_btn_read {
    padding: 5px 10px;
    background-color: black;
    border: 1px solid $primary;
    color:$secondary;
}